<a type="button" class="disabled btn btn-success button  prominent  add installer"
   data-hash="sha256:1733d384f8a1b14d324c9c000bf830487e2078821a27e9ba918a8a2c6b152c19"
   href="https://addons.mozilla.org/firefox/downloads/latest/412518/addon-412518-latest.xpi?src=eliminator-slajdow.herokuapp.com"
   id="ff-install-button" onclick="ga('send', 'event', 'button', 'click', 'installFirefox');">
    <img src='@routes.Assets.at("images/firefox_icon.png")' alt="Dodaj do Firefox" width="50">
    <span class="glyphicon glyphicon-plus"></span> Dodaj do Firefox
</a>

<a type="button" class="disabled btn btn-success button  prominent  add installer" target="_blank"
   data-hash="sha256:1733d384f8a1b14d324c9c000bf830487e2078821a27e9ba918a8a2c6b152c19"
   href="https://extensions.apple.com/details/?id=info.raszewski.eliminator-slajdow-6K4U9C52E5"
   id="safari-install-button" onclick="ga('send', 'event', 'button', 'click', 'installSafari');">
    <img src='@routes.Assets.at("images/safari_icon.png")' alt="Dodaj do Safari" width="50">
    <span class="glyphicon glyphicon-plus"></span> Dodaj do Safari
</a>

<p>
    <button type="button" class="btn disabled btn-success add button"
            onclick="chrome.webstore.install();ga('send', 'event', 'button', 'click', 'installChrome');;"
            id="chrome-install-button">
        <img src='@routes.Assets.at("images/chrome_icon.png")' alt="Dodaj do Chrome" width="50">
        <span class="glyphicon glyphicon-plus"></span> Dodaj do Chrome
    </button>

    <button type="button" class="btn btn-success add button" data-toggle="modal" data-target="#operaInstall"
            onclick="ga('send', 'event', 'button', 'click', 'installOpera');;"
            id="opera-install-button">
        <img src='@routes.Assets.at("images/opera_icon.png")' alt="Dodaj do Opery" height="50">
        <span class="glyphicon glyphicon-plus"></span> Dodaj do Opery
    </button>
</p>

<div class="modal fade" id="operaInstall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Zamknij</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminator Slajdów dla przeglądarki Opera</h4>
            </div>
            <div class="modal-body">
                <p>ES nie będzie oficjalnie wspierany dla Opery ponieważ po prostu nie mam czasu się tym zajmować. <strong>Jednak podobno na Operze można instalować dodatki z Chrome.</strong></p>
                <p>Aby zainstalować ES na Operze trzeba najpierw zainstalować dodatek <a href="https://addons.opera.com/pl/extensions/details/download-chrome-extension-9/?display=pl" target="_blank">Download Chrome Extension</a>.
                    Potem za jego pomocą można zainstalować ES z <a href="https://chrome.google.com/webstore/detail/eliminator-slajd%C3%B3w/eplekpmdodlgejgogbojajncdlapamff?hl=pl&utm_source=chrome-ntp-launcher" target="_blank">Chrome Web Store</a>
                </p>
                <h2>UWAGA. Ja osobiście tego nie testowałem i nie udzielam żadnych porad w tym zakresie.</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<script>
    if (navigator.userAgent.match(/Chrome/i)) {
        $("#chrome-install-button").removeClass("disabled");
    } else if (navigator.userAgent.match(/Firefox/i)) {
        $("#ff-install-button").removeClass("disabled");
    } else if (navigator.userAgent.match(/Safari/i)) {
        $("#safari-install-button").removeClass("disabled");
    } else if (navigator.userAgent.match(/Opera/i)) {
        $("#opera-install-button").removeClass("disabled");
    }

</script>

<div class="gplus">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer>{
        lang: 'pl'
    }</script>

    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-annotation="inline" data-width="300"
         data-href="http://eliminator-slajdow.herokuapp.com"></div>
</div>

<div class="fb-like-box" data-href="https://www.facebook.com/eliminator.slajdow" data-colorscheme="light"
     data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
