<a type="button" class="disabled btn btn-success button  prominent  add installer" target="_blank"
   data-hash="sha256:1733d384f8a1b14d324c9c000bf830487e2078821a27e9ba918a8a2c6b152c19"
   href="https://addons.mozilla.org/firefox/downloads/latest/412518/addon-412518-latest.xpi?src=eliminator-slajdow.raszewski.info"
   id="ff-install-button" onclick="ga('send', 'event', 'button', 'click', 'installFirefox');">
    <img src='@routes.Assets.at("images/firefox_icon.png")' alt="Dodaj do Firefox" width="50">
    <span class="glyphicon glyphicon-plus"></span> Dodaj do Firefox
</a>
<a class="button add" href="https://chrome.google.com/webstore/detail/eliminator-slajd%C3%B3w/eplekpmdodlgejgogbojajncdlapamff?hl=pl" target="_blank"><img width="50" height="50" src="@routes.Assets.at("images/chrome_icon.png")" alt="">Dodaj do Chrome</a>
<a class="button add" href="https://addons.opera.com/pl/extensions/" target="_blank"><img width="50" height="50" src="@routes.Assets.at("images/opera_icon.png")" alt="">Dodaj do Opery (ES czeka na oficjalną weryfikacje przez Opere. To może potrwać do połowy stycznia 2017)</a>

