<img src='@routes.Assets.at("images/firefox_icon.png")' alt="Donate Bitcoin" width="50">
<button type="button" class="disabled btn btn-success button  prominent  add installer"
        data-hash="sha256:1733d384f8a1b14d324c9c000bf830487e2078821a27e9ba918a8a2c6b152c19"
        href="https://addons.mozilla.org/firefox/downloads/latest/412518/addon-412518-latest.xpi?src=eliminator-slajdow.herokuapp.com"
        id="ff-install-button">
    <span class="glyphicon glyphicon-plus"></span> Dodaj do Firefox
</button>
<p>

    <img src='@routes.Assets.at("images/chrome_icon.png")' alt="Donate Bitcoin" width="50">


    <button type="button" class="btn disabled btn-success add button" onclick="chrome.webstore.install();_gaq.push(['_trackEvent', 'chrome_install', 'click']);"
            id="chrome-install-button"><span class="glyphicon glyphicon-plus"></span> Dodaj do Chrome
    </button>
    <script>
if (navigator.userAgent.match(/Chrome/i)){
    $("#chrome-install-button").removeClass("disabled");
}else if (navigator.userAgent.match(/Firefox/i)){
   $("#ff-install-button").removeClass("disabled");
}

    </script>
</p>

<div class="gplus">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'pl'}</script>

    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-annotation="inline" data-width="300" data-href="http://eliminator-slajdow.herokuapp.com"></div>
</div>

<div class="fb-like-box" data-href="https://www.facebook.com/eliminator.slajdow" data-colorscheme="light"
     data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
