@()(implicit request: play.api.mvc.RequestHeader)

<div class="mdl-grid">
        <h4 class="panel-title">Zgłoszone problemy</h4>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Wersja</th>
                    <th class="mdl-data-table__cell--non-numeric">URL</th>
                    <th class="mdl-data-table__cell--non-numeric">Opis</th>
                    @if(request.cookies.get("admin").nonEmpty || request.queryString.get("token").nonEmpty) {
                        <th class="mdl-data-table__cell--non-numeric">Akcje</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(i <- init.Init.dbManager.issues) {
                @issue(i)
            }
            </tbody>
        </table>
</div>
