@(i: info.raszewski.eliminatorslajdow.postgres.Tables.IssuesRow)(implicit request: play.api.mvc.RequestHeader)
<tr class="wrap-words">
    <td class="mdl-data-table__cell--non-numeric">
        <span class="mdl-list__item-secondary-action status">
            <span class="label label-warning">@i.status</span>
            <span class="@i.status"></span>
        </span>
    </td>
    <td class="mdl-data-table__cell--non-numeric">@i.esVersion</td>
    <td class="mdl-data-table__cell--non-numeric">
        <a href="@i.galleryUrl" target="_blank">@i.galleryUrl.take(40)...</a>
    </td>
    <td class="mdl-data-table__cell--non-numeric"><p class="comment">@i.comment</p></td>

    @if(request.cookies.get("admin").nonEmpty || request.queryString.get("token").nonEmpty) {
        <td class="mdl-data-table__cell--non-numeric">
            <span class="delete"> <a type="button" target="_blank" class="btn btn-danger" href='/api/issues/delete/@i.id/@(if(request.cookies.get("admin").isDefined) request.cookies.get("admin").get.value else request.queryString.get("token"))'>
                Usuń</a></span>
            <br/>
            <span class="approve"><a type="button" target="_blank" class="btn btn-info" href='/api/issues/@i.id/ZAAKCEPTOWANO/@(if(request.cookies.get("admin").isDefined) request.cookies.get("admin").get.value else request.queryString.get("token"))'>
                Zaakceptuj</a></span>
        </td>
    }
</tr>

