@(pageName: String)
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-logo"></span>
            <a class="navbar-brand" href="/">Eliminator Slajdów</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class='@{if(pageName=="start") "active" else ""}'><a href="/">Start</a></li>
                <li class='@{if(pageName=="sourceCode") "active" else ""}'><a href="/kod">Kod źródłowy ES</a></li>
                <li class='@{if(pageName=="about") "active" else ""}'><a href="/oautorze">O autorze</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>