@()(implicit request: play.api.mvc.RequestHeader, flash: Flash)

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="row">
            <h4>Zgłoś błąd</h4>
        </div>
        <div class="row">
            <p>Jeżeli ES nie działa poprawnie na jakiejś stronie, zgłoś to abym mógł zrobić poprawkę.</p>
        </div>
        @if(!flash.isEmpty) {
            <div class="row">
                <span class="flash-msg">
                    @flash.get("success").getOrElse("")
                    @flash.get("error").getOrElse("")
                </span>
            </div>
        }
        <form action="/api/issues" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="url" name="galleryUrl" required="required" placeholder="http://...">
                <label class="mdl-textfield__label" for="url">Link do galerii na której występuje problem</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="desc" name="comment" required="required"></textarea>
                <label class="mdl-textfield__label" for="desc">Opis problemu</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="email" id="email">
                <label class="mdl-textfield__label" for="email">Email (opcjonalnie)</label>
            </div>
            <input type="hidden" class="form-control" id="issue_es_version" name="esVersion">
            <input type="hidden" class="form-control" id="ua" name="ua">
            <div class="mdl-submit mdl-js-submit">
                <button class="report-problem mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Zgłoś</button>
            </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>