@()(implicit request: play.api.mvc.RequestHeader, flash: Flash)

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="row">
            <h4>Zgłoś błąd</h4>
        </div>
        <div class="row reportIssue">
            <p>Jeżeli ES nie działa poprawnie na jakiejś stronie, zgłoś to abym mógł zrobić poprawkę.</p>
            <p>Przed zgłoszeniem błędu upewnij się że ES jest aktywny na danej stronie.</p>
            <p>Ikona powinna być kolorowa</p>
            <img src="@routes.Assets.at("images/ikona-aktywna.png")" />
            <p>Ikona szara świadczy o tym ze ES jest wyłączony na danej stronie.</p>
            <img src="@routes.Assets.at("images/ikona-nieaktywna.png")" />
            <p>Jeśli ikona ES jest szara, otworz opcje ES i sprawdź czy wszystkie pozycje są zaznaczone na liście domen.</p>
            <img src="@routes.Assets.at("images/popup-opcje.png")"/><br/>
            <img src="@routes.Assets.at("images/status.png")"/><br/>
            <img src="@routes.Assets.at("images/lista-domen.png")"/><br/>
            <p>Gdy ES działa powinieneś widzieć mniej więcej taki rezultat.</p>
            <img src="@routes.Assets.at("images/es-dziala.png")" />
        </div>
        @if(!flash.isEmpty) {
            <div class="row">
                <span class="flash-msg">
                    @flash.get("success").getOrElse("")
                    @flash.get("error").getOrElse("")
                </span>
            </div>
        }
        <p>Jeśli ES dalej nie działa to zgłoś błąd tutaj. Postaraj się opisać dokładnie co się dzieje.</p>
        <p>Przykład 1: ES nie działa na stronie XXX. Galeria zdjęć dalej ma slajdy i jest wpełni funkcjonalna.</p>
        <p>Przykład 2: ES nie działa na stronie XXX. Galeria zdjęć ma tylko jeden slajd. ES usunął przyciski nawigacyjne galerii i nie da się nic zrobić.</p>
        <p>Przykład 3: ES nie działa poprawnie na stronie XXX. ES wyświetlił część slajdów poprawnie ale niektóre slajdy nie mają zdjęć.</p>
        <form action="/api/issues" method="post" id="issue-form">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="url" name="galleryUrl" required="required" placeholder="http://...">
                <label class="mdl-textfield__label" for="url">Link do galerii na której występuje problem</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="desc" name="comment" required="required"></textarea>
                <label class="mdl-textfield__label" for="desc">Opis problemu</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="email" id="email">
                <label class="mdl-textfield__label" for="email">Email (opcjonalnie)</label>
            </div>
            <input type="hidden" class="form-control" id="issue_es_version" name="esVersion">
            <input type="hidden" class="form-control" id="ua" name="ua">
            <div id='recaptcha' class="g-recaptcha"
            data-sitekey="6LczJhAUAAAAAHHHwIlguwKRflRG3rmydcwHl-T_"
            data-callback="onSubmit"
            data-size="invisible"></div>
            <div class="mdl-submit mdl-js-submit">
                <button class="report-problem mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='submit_button'>
                    Zgłoś</button>
            </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>
<script>
        document.getElementById("ua").value = navigator.userAgent;

        function onSubmit(token) {
            document.getElementById("issue-form").submit();
        }

        function validate(event) {
            if (document.getElementById('desc').validity.valid && document.getElementById('url').validity.valid) {
                event.preventDefault();
                grecaptcha.execute();
            } else {
                console.log("form validation failed");
            }
        }

        function onload() {
            var element = document.getElementById('submit_button');
            element.onclick = validate;
        }

        onload();
</script>