@()(implicit request: play.api.mvc.RequestHeader)
<h4>Zgłoś błąd na już obsługiwanym Portalu</h4>

<p>Jeżeli ES nie działa poprawnie na jakiejś stronie, zgłoś to abym mógł zrobić poprawkę.</p>



<form role="form">
    <div class="form-group">
        <label for="issue_gallery_url">Link do galerii</label>
        <input type="url" class="form-control" id="issue_gallery_url"
        placeholder="www.przykladowastrona.pl/galeria1">
    </div>
    <div class="form-group">
        <label for="issue_comment">Opis problemu</label>
        <textarea class="form-control" rows="3" id="issue_comment"></textarea>
    </div>
    <div class="form-group">
        <label for="issue_email">Email</label>
        <input type="email" class="form-control" id="issue_email" placeholder="">
    </div>
    <div class="form-group">
        <label for="issue_es_version">Wersja Eliminatora Slajdów</label>
        <input type="url" class="form-control" id="issue_es_version" placeholder="">
    </div>
</form>
