<img src="http://www.wakanda.org/sites/default/files/blog/blog-github.png"/>
<div class="im-centered">
    <div class="row">
        <table>
            <tr>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow-chrome&type=watch&count=true&size=large"
                            width="130" height="30" frameborder="0" scrolling="0" style="height: 30px;"
                            allowTransparency="true"></iframe>
                </td>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow-chrome&type=fork&count=true&size=large"
                            width="130" height="30" frameborder="0" scrolling="0" style="height: 30px;"
                            allowTransparency="true"></iframe>
                </td>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&type=follow&count=true&size=large"
                            height="30" width="230"
                             frameborder="0" scrolling="0" style="height: 30px;"
                            allowTransparency="true"></iframe>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Kod źródłowy</div>
    <div class="panel-body">
        <p>
            <a href="https://github.com/maestr0/eliminator-slajdow-chrome">Eliminator Slajdów dla Chrome</a>
        </p>

        <p>
            <a href="https://github.com/maestr0/eliminator-slajdow-firefox">Eliminator Slajdów dla Firefox</a>
        </p>
    </div>
</div>

