<img src="http://www.wakanda.org/sites/default/files/blog/blog-github.png"/>

<table>
    <tr>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow-chrome&type=watch&count=true&size=large"
                    height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;"
                    allowTransparency="true"></iframe>
        </td>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow-chrome&type=fork&count=true&size=large"
                    height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;"
                    allowTransparency="true"></iframe>
        </td>
        <td>
            <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&type=follow&count=true&size=large" height="30"
                    width="240" frameborder="0" scrolling="0" style="width:240px; height: 30px;"
                    allowTransparency="true"></iframe>
        </td>
    </tr>
</table>

<div class="panel panel-default">
    <div class="panel-heading">Kod źródłowy</div>
    <div class="panel-body">
        <p>
            <a href="https://github.com/maestr0/eliminator-slajdow-chrome">Eliminator Slajdów dla Chrome</a>
        </p>

        <p>
            <a href="https://github.com/maestr0/eliminator-slajdow-firefox">Eliminator Slajdów dla Firefox</a>
        </p>
    </div>
</div>

