<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col githubTop">
        <a href="https://github.com/maestr0/eliminator-slajdow">Eliminator Slajdów na Github<br/>
            <img width="200" height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/PEO-octocat-1.svg/1000px-PEO-octocat-1.svg.png"/></a>


        <table>
            <tr>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow&type=watch&count=true&size=large"
                    width="130" height="30" frameborder="0" scrolling="0" style="height: 30px;"
                    allowTransparency="true"></iframe>
                </td>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&repo=eliminator-slajdow&type=fork&count=true&size=large"
                    width="130" height="30" frameborder="0" scrolling="0" style="height: 30px;"
                    allowTransparency="true"></iframe>
                </td>
                <td>
                    <iframe src="http://ghbtns.com/github-btn.html?user=maestr0&type=follow&count=true&size=large"
                    height="30" width="230"
                    frameborder="0" scrolling="0" style="height: 30px;"
                    allowTransparency="true"></iframe>
                </td>
            </tr>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
    </div>
</div>