@()(implicit request: play.api.mvc.RequestHeader)
<h2>Chciałbyś aby ES działał na jakiejś stronie? Dodaj swoją propozycję!</h2>

<p>Jeżeli Twoja propozycja będzie popularna to zostanie w pierwszej kolejności dodana do ES.</p>

<p>
    <button data-toggle="modal" data-target="#suggestionModal" type="button" class="btn-lg btn btn-primary"><span
            class="glyphicon glyphicon-plus"></span> Dodaj nowy Portal
    </button>
</p>

<!-- Modal -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Zamknij</span></button>
                <h4 class="modal-title" id="myModalLabel">Nowa Sugestia</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" src>
                    <div class="form-group">
                        <label for="gallery_url">Link do galerii</label>
                        <input type="url" class="form-control" id="gallery_url"
                               placeholder="www.przykladowastrona.pl/galeria1">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="comment">Komentarz</label>
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button id="addSuggestion" type="button" class="btn btn-primary "><span
                        class="glyphicon glyphicon-plus"></span> Dodaj
                </button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Sugestie</h3>
</div>
<div class="panel-body">
    <ul class="list-group">
        @for(s <- init.Init.dbManager.suggestions){
            @suggestion(s)
        }
    </ul>
</div>
</div>
